<div class='product-container'>
    <a [routerLink]="['/product/', item.id, item.name]"><img class="product-image" src="assets/pictures/{{item.image}}"
            alt={{item.name}}></a>
    <h2>{{ item.name }}</h2>
    <h3>${{ item.price }}</h3>
    <h4 style="color:#5F9EA0;">Select the quantity of this item</h4>
    <div class="form-group">
        <select (change)="addQuantity($event)">
            <option *ngFor="let quantity of quantity_options" [value]="quantity">{{quantity}}</option>
        </select>
    </div>
    <br>
    <button id="cart" (click)="addProductToCart(item)">Add to Cart</button>
</div>