<div class='product-container'>
    <a [routerLink]="['/product/', item.id, item.name]"><img class="product-image" src="assets/pictures/{{item.image}}" alt={{item.name}}></a>
    <h3>{{ item.name }}</h3>
    <h3>${{ item.price }}</h3>
    <label for="quantity">Quantity</label>
    <select id="quantity" name="quantity">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>
    <button id="cart" (click)="addProductToCart()">Add to Cart</button>
</div>


