img {
  width: 100px;
   border-radius: 10px;
}
  
.form-margin {
  margin-bottom: 12px;
}
  
.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content:space-around;
  row-gap: 50px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  align-items: center;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
  border-width: 10px;
  border-color: #5F9EA0;
}

h3{
  align-self: center;
  margin-bottom: 20px;
  margin:auto;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  background-color: aliceblue;
}


h2{
  align-self: center;
  margin:auto;
  display: grid;
  justify-self: center;
  color: #5F9EA0;
  text-align:center;
  margin-top: 20px;
}

button{
  background-color: #45a049;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 4px;
  color: white;
  align-self: center;
  margin:auto;
  display: grid;
  cursor: pointer;
  width:max-content;
}

.sadface{
  align-content: center;
  position: absolute;
  margin-top: 70px;
}
