.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
    align-items: center;
    border-radius: 5px;
    
    padding: 20px;
}

button{
    background-color: #45a049;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 4px;
    color: white;
    align-self: center;
    margin:auto;
    display: grid;
    cursor: pointer;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}